.breadcrumbs {

    padding: 8rem 0 4rem;

    &__item {
        position: relative;
        display: inline-block;
        //padding-right: 1rem;
        margin-right: 1.5rem;
        font-family: 'Inter',
            sans-serif;
        font-size: 1.6rem;
        line-height: 2.6rem;
        color: $dark-gray;
        border-bottom: 0.1rem solid $dark-gray;

        &:after {
            content: '/';
            position: absolute;
            @extend %pos-center-y;
            right: -1rem;
            font-family: 'Inter',
                sans-serif;
            font-size: 1.6rem;
            line-height: 2.6rem;
            color: $dark-gray;
        }

        &:last-child {
            border-bottom: none;

            &:after {
                content: '';
            }
        }
    }
}