<!DOCTYPE html>
<html lang="ru">
@@include('../_head.html', {
"title": "Главная"
})

<body>

    <div class="wrapper">
        @@include('../../blocks/modules/burger/burger-menu/_burger-menu.html')

        <main class="page">
            @@include('../../blocks/modules/promo/_promo.html')

            @@include('../../blocks/modules/study-program/_study-program.html')

            @@include('../../blocks/modules/action/_action.html')

            @@include('../../blocks/modules/about/_about.html')

            @@include('../../blocks/modules/work-principle/_work-principle.html')

            @@include('../../blocks/modules/clients/_clients.html')

            @@include('../../blocks/modules/newsletter/_newsletter.html')
        </main>

        @@include('../../blocks/modules/footer/_footer.html')

        @@include('../../blocks/modules/popups/_popups.html')
    </div>

    <!--  @@include('../_js.html') -->

</body>

</html>