<h1>Список сверстанных страниц:</h1>
<ul>
    <li><a href="home.html">Главная</a></li>
    <li><a href="catalog.html">Каталог курсов</a></li>
    <li><a href="vebinars.html">Вебинары</a></li>
    <li><a href="events.html">Мероприятия</a></li>
    <li><a href="private.html">Частным лицам</a></li>
    <li><a href="companies.html">Компаниям</a></li>
    <li><a href="course.html">Страница курса</a></li>
    <!-- <li><a href="about.html">О компании</a></li> -->
    <!-- <li><a href="product-card.html">Карточка товара</a></li> -->
    <!-- <li><a href="contacts.html">Контакты</a></li> -->
    <!-- <li><a href="news.html">Новости</a></li> -->
    <!-- <li><a href="one-news.html">Новость</a></li> -->
</ul>