.study-program {

    position: relative;

    &:before {
        content: url(../img/decor-lines/3.svg);
        position: absolute;
        left: -3rem;
        top: 5.7rem;
        z-index: -1;

        @media(max-width: 992px) {
            display: none;
        }
    }

    // .study-program__head

    &__head {
        @media(min-width: 992px) {
            display: flex;
        }
    }

    // .study-program__head-content

    &__head-content {
        margin-left: 30rem;

        @media(max-width: 992px) {
            width: 24.7rem;
            margin-left: auto;
            margin-top: 3rem;
        }
    }

    &__big-title {
        @media(max-width: 992px) {
            font-size: 2.8rem;
            line-height: 2.7rem;
            grid-row-gap: 1.1rem;
        }

        span:before {
            width: 74.1rem;
            left: -4.8rem;
            bottom: -1rem;

            @media(max-width: 992px) {
                width: 24.5rem;
                left: -0.8rem;
                bottom: -0.8rem;
            }
        }
    }

    // .study-program__head-text

    &__head-text {
        @extend %text-24-gray;
        margin-top: 4.8rem;

        @media(max-width: 992px) {
            font-size: 1.2rem;
            line-height: 1.3rem;
            margin-top: 1.6rem;
        }
    }

    // .study-program__cards

    &__cards {
        @extend %flex-row;
        flex-wrap: wrap;
        margin: 8rem 0 4rem;

        @media(max-width: 992px) {
            grid-row-gap: 4rem;
            //display: grid;
            //grid-template-columns: repeat(2, 1fr);
            //grid-gap: 4rem;
            margin: 5rem 0;
        }

        @media(max-width: 500px) {
            margin-bottom: 0;
        }
    }

    &__cards-col {
        @media(max-width: 992px) {
            display: none;
        }
    }

    &__card+&__card {
        margin-top: $gap;

        @media(max-width: 992px) {
            margin-top: 0;
        }
    }

    // .study-program__card

    &__card {
        width: 44.8rem;
        background-color: #fff;
        padding: 0 1.2rem 4.8rem;
        @extend %flex-col-center;
        text-align: center;
        border-radius: 3.2rem;

        @media(max-width: 992px) {
            width: 47%;
        }

        @media(max-width: 768px) {
            width: 100%;
        }
    }

    // .study-program__btn

    &__btn {
        width: 28rem;
        display: block;
        border-color: $gray;
        font-size: 2rem;
        line-height: 2.6rem;
        font-weight: 700;
        color: $gray;
        padding: 2.2rem 1.5rem;
        margin: 0 auto;

        @media(max-width: 500px) {
            display: none;
        }

        @media (any-hover: hover) {
            &:hover {
                background-color: $gray;
            }
        }
    }
}

.study-card {

    &--1 {
        padding-top: 3.3rem;

        .study-card__img {
            margin-bottom: 3.3rem;
        }
    }

    &--3 {
        padding-top: 1.1rem;

        .study-card__img {
            margin-bottom: 0.7rem;
        }
    }

    &--4 {
        padding-top: 1.8rem;

        .study-card__img {
            margin-bottom: -3.7rem;
        }
    }

    &--5 {
        padding-top: 3.5rem;

        .study-card__img {
            margin-bottom: 3.7rem;
        }
    }

    &--6 {
        padding-top: 4.1rem;

        .study-card__img {
            margin-bottom: 2.8rem;
        }
    }

    // .study-card__img

    &__img {
        margin-bottom: 1rem;
    }

    // .study-card__title

    &__title {
        margin-bottom: 1.6rem;

        @media(max-width: 992px) {
            margin-bottom: 2rem;
        }
    }

    // .study-card__duration

    &__duration {
        padding: 0.8rem 1.6rem;
        border-radius: 4.8rem;
        @extend %text-16;
        font-weight: 500;
        margin-bottom: 2.4rem;

        @media(max-width: 992px) {
            padding: 1rem 2.5rem;
            font-size: 1.2rem;
            line-height: 2.1rem;
            margin-bottom: 2rem;
        }
    }

    // .study-card__text

    &__text {
        margin-bottom: 4rem;

        @media(max-width: 992px) {
            font-size: 1.4rem;
            line-height: 2.2rem;
            margin-bottom: 2rem;
        }
    }

    // .study-card__btn

    &__btn {


        @media(max-width: 992px) {
            line-height: 2.5rem;
            padding: 1.2rem 3.45rem;
        }
    }
}