.btn {
    @extend %text-20;
    text-align: center;
    border-radius: 5.4rem;
}

.bg-btn {
    min-width: 32rem;
    @extend .btn;
    background-color: $dark;
    color: $white;
    font-weight: 700;
    padding: 2.65rem 1rem;
    transition: .3s background-color;

    @media(max-width: 992px) {
        min-width: 24.6rem;
        padding-top: 1.8rem;
        padding-bottom: 1.8rem;
        font-size: 1.4rem;
        line-height: 1.4rem;
    }

    @media (any-hover: hover) {
        &:hover {
            background-color: $dark-gray;
        }
    }
}

.border-btn {
    border-width: 0.1rem;
    border-style: solid;
    //border: 0.1rem solid rgba(63, 78, 79, 0.77);
    transition: .3s all;

    @media (any-hover: hover) {
        &:hover {
            color: #fff;
        }
    }
}

.enter-btn {
    position: relative;
    width: 16rem;
    height: 7.2rem;
    //border-radius: 7.2rem;
    background-color: transparent;
    @extend %flex-center;
    font-size: 1.8rem;
    line-height: 1.7rem;
    font-weight: 700;

    //transition: .3s background-color;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        width: 0%;
        height: 100%;
        border-radius: 7.2rem;
        background-color: $yellow;
        transition: .3s width;

        @media(max-width: 992px) {
            display: none;
        }
    }

    @media(max-width: 992px) {
        border-radius: 7.2rem;
        background-color: $yellow;
    }

    @media(max-width: 768px) {
        height: 5rem;
        font-size: 1.6rem;
    }

    @media (any-hover: hover) {
        &:hover:before {
            width: 100%;
            //background-color: $yellow;
        }
    }

    img {
        display: inline-block;
        margin-right: 2rem;
    }
}