.promo-catalog {
    &__titles {
        grid-row-gap: 8rem;
        margin-bottom: 10rem;
    }

    // .catalog__title

    &__title {
        color: rgba($dark, .5);
        margin-bottom: 8rem;
        //border-bottom: 0.1rem solid $dark-gray;
        //padding-bottom: 3.7rem;
    }

    &__big-title {
        color: $dark;
        margin-bottom: 10rem;

        div {
            margin-left: 24.8rem;
        }

        span {
            &:before {
                width: 74.1rem;
                height: 12rem;
                top: -1rem;
                right: -2.7rem;
            }
        }
    }

    &__categories {
        grid-template-columns: repeat(6, 1fr);
        grid-gap: $gap;
    }
}

.catalog {

    background-color: $pink-bg;
    padding-top: 10.5rem;
    padding-bottom: 37rem;

    // .catalog__filters

    &__filters {
        width: 40rem;
    }

    &__body {
        width: 94.4rem;
    }

    &__item+&__item {
        margin-top: 12rem;
    }
}

.catalog-item {
    &__top {
        @extend %flex-row-center;
        margin-bottom: 5.5rem;
    }

    &__title {
        font-size: 4rem;
        line-height: 3.9rem;
        text-transform: uppercase;

        .decor:before {
            height: 7.2rem;
            @extend %pos-center-y;
            left: -2.5rem;
            right: -2.5rem;
            transform: translateY(-50%) rotate(-3deg);
        }
    }

    &__cards {
        display: flex;
        margin-top: 5.5rem;

        >*+* {
            margin-left: 4.8rem;
        }
    }
}

.catalog-card {

    width: 44.8rem;
    min-height: 40rem;
    padding: 3.2rem 2.7rem 3.2rem 4rem;
    background-image: url(../img/catalog-card.png);
    background-position: bottom right;
    background-size: 16.2rem 19rem;
    background-repeat: no-repeat;

    // .catalog-card__label

    &__label {
        border-radius: 2.4rem;
        padding: 0.8rem 2.4rem;
        font-size: 1.8rem;
        line-height: 2.6rem;
        margin-bottom: 1.5rem;
    }

    &__label+&__label {
        margin-left: 1rem;
    }

    // .catalog-card__title

    &__title {
        margin-bottom: 1.2rem;
    }

    // .catalog-card__text

    &__text {
        max-width: 27.2rem;
        color: $dark;
        margin-bottom: 2.4rem;
    }
}

.catalog-slider .slick-slide {
    margin-right: 4.8rem;
}