@import './vars';
@import './mixins';
@import './fonts';
@import './null';

.container {
    max-width: $container + 2rem * 2;
    padding: 0 2rem;
    margin: 0 auto;
}

.wrapper {
    position: relative;
    overflow-x: hidden;
    /* @supports ((-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))) {
        background: #fff;
        backdrop-filter: blur(31px);
    } */
}

.section {
    padding: 20rem 0;

    @media(max-width: 992px) {
        padding: 4rem 0 6rem;
    }

    &--pink {
        background-color: $pink-bg;
    }

    &--white {
        background-color: $white;
    }

    &__inner {
        @extend %flex-row;
    }

    &__content {
        width: 94.5rem;
    }

    &__title {
        margin-bottom: 8rem;
    }
}

.content {
    width: 94.5rem;
}

.section-inner {

    @media(min-width: 992px) {
        display: flex;
        justify-content: space-between;
    }
}

.grid {
    display: grid;
}

.col-4 {
    grid-template-columns: repeat(4, 1fr);
}

.col-3 {
    grid-template-columns: repeat(3, 1fr);
}

.col-2 {
    grid-template-columns: repeat(2, 1fr)
}

.ticker {
    background-color: $yellow;
    font-weight: bold;
    font-size: 9.6rem;
    line-height: 9.3rem;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: $dark;
    //transform: rotate(-3deg);
}

@import '../components/components';